    <mat-card >
        <mat-card-header class="header">
            <div class="container">
            <div class="row">
                <div class="col"><h1>{{'MED.welcome'| translate}}</h1></div>
                <div class="col"></div>
                <div class="col">
                    <button mat-stroked-button color="accent"  *ngIf="translate.currentLang == 'en'"(click)="switchLanguage('ar')" id="btnChangeToArLang">عربي</button>
                    <button mat-stroked-button color="accent" *ngIf="translate.currentLang != 'en'" (click)="switchLanguage('en')"  id="btnChangeToEnLang">English</button>   
                </div>
            </div>
        </div>
        
    </mat-card-header>
    <hr/>

    <mat-card-content>
        <mat-checkbox>{{'MED.comfirmData'| translate}}</mat-checkbox>
    </mat-card-content>
        
    </mat-card>
    <!--Personal Info-->
    <mat-card>
        <mat-card-header class="header">
            <h1> {{'MED.personalInfo'| translate}}</h1>
        </mat-card-header>
        <hr/>
        <mat-card-content>
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col"> 
                        <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{'MED.empName'| translate}}</mat-label>
                        <input matInput placeholder="{{'MED.empName'| translate}}"  disabled>
                       </mat-form-field></div>
                      <div class="col"></div>
                </div>
                <div class="row">
                      <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.empNo'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.empNo'| translate}}" disabled>
                          </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.gender'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.gender'| translate}}" disabled>
                          </mat-form-field>
                      </div> 

                </div>
                <div class="row">
                    <div class="col">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{'MED.department'| translate}}</mat-label>
                          <input matInput placeholder="{{'MED.department'| translate}}" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{'MED.nationalID'| translate}}</mat-label>
                          <input matInput placeholder="{{'MED.nationalID'| translate}}" disabled>
                        </mat-form-field>
                    </div> 
                </div>
                    <div class="row">
                        <div class="col">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.jobTitle'| translate}}</mat-label>
                              <input matInput placeholder="{{'MED.jobTitle'| translate}}" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.directManager'| translate}}</mat-label>
                              <input matInput placeholder="{{'MED.directManager'| translate}}" disabled>
                            </mat-form-field>
                        </div> 
                        </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <!--Adress Info-->
        <mat-card-header class="header">
            <h1> {{'MED.addressInfo'| translate}} </h1>
        </mat-card-header>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'MED.country'| translate}}</mat-label>
                        <mat-select >
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Jordan</mat-option>
                          <mat-option value="option2">UAE</mat-option>
                          <mat-option value="option3">Germany</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'MED.city'| translate}}</mat-label>
                        <mat-select >
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Jordan</mat-option>
                          <mat-option value="option2">UAE</mat-option>
                          <mat-option value="option3">Germany</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{'MED.area'| translate}}</mat-label>
                        <input matInput placeholder="{{'MED.area'| translate}}" >
                      </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>{{'MED.streetName'| translate}}</mat-label>
                        <input matInput placeholder="{{'MED.streetName'| translate}}" >
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.buildinNo'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.buildinNo'| translate}}" >
                          </mat-form-field>
                    </div>
                    <div class="col"></div>
                </div>
      
        </div>
    </mat-card>
    <!--Medical Info-->
    <mat-card>
        <mat-card-header class="header">
            <h1> {{'MED.medicalInfo'| translate}}</h1>
        </mat-card-header>
        <hr/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'MED.bloodType'| translate}}</mat-label>
                        <mat-select >
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Jordan</mat-option>
                          <mat-option value="option2">UAE</mat-option>
                          <mat-option value="option3">Germany</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header >
                            
                                <div class="col"><p> {{'MED.chronicalDiseases'| translate}}</p></div>
                                <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="ChronicalDiseases()">
                                        <div class="row">
                                            <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                            <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            
                        
                        </mat-card-header>
                        <div class="container" *ngIf="chronicalDiseases">
                            <hr/>
                           
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Chronical diseases Name"></textarea>
                                   </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                  <button mat-stroked-button color="primary">{{'MED.addChronical'| translate}}</button>
                              </div>
                            </div>
                       </div>
                    </mat-card>
                
            </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header >
                            
                                <div class="col"><p> {{'MED.regularMedicine'| translate}}</p></div>
                                <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="RegularMedicine()">
                                        <div class="row">
                                            <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                            <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            
                        
                        </mat-card-header>
                        <div class="container" *ngIf="regularMedicine">
                           <hr/>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Medicine Name" >
                                      </mat-form-field>

                                </div>
                                <div class="col">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Dosage" >
                                      </mat-form-field>
                                </div>
                                <div class="col"></div>
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Number of times" >
                                  </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <button mat-stroked-button color="primary">{{'MED.addMedicine'| translate}}</button>
                                  </div>
                                </div>
                            </div>
                                  
                    </mat-card>
            </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header >
                            
                                <div class="col"><p> {{'MED.allergies'| translate}}</p></div>
                                <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="Allergies()">
                                        <div class="row">
                                            <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                            <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            
                        
                        </mat-card-header>
                        <div class="container" *ngIf="allergies">  
                            <hr/>                   
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Allergies"></textarea>
                                      </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <button mat-stroked-button color="primary">{{'MED.addAllergies'| translate}}</button>
                                </div>
                           </div>
                       </div>
                        </mat-card>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header >
                            
                                <div class="col"><p> {{'MED.ssurgeries'| translate}}</p></div>
                                <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="Surgeries()">
                                        <div class="row">
                                            <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                            <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            
                        
                        </mat-card-header>
                        <div class="container" *ngIf="surgeries">  
                            <hr/>                   
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Surgeries"></textarea>
                                      </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <button mat-stroked-button color="primary">{{'MED.addSurgeries'| translate}}</button>
                                </div>
                           </div>
                       </div>
                        </mat-card>
            </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header >
                            
                                <div class="col"><p>  {{'MED.insurance'| translate}}</p></div>
                                <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="Insurance()">
                                        <div class="row">
                                            <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                            <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                                </div>
                            
                        
                        </mat-card-header>
                        <div class="container" *ngIf="insurance"> 
                            <hr/>                    
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Medical Information"></textarea>
                                      </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <button mat-stroked-button color="primary">{{'MED.addInsurance'| translate}}</button>
                                </div>
                           </div>
                       </div>
                       </mat-card>
            </div>
            </div>
        </div>
    </mat-card>


<!--Emergency Contact-->
<mat-card>
    <mat-card-header class="header">
        <h1>{{'MED.emergencyContact'| translate}}</h1>
    </mat-card-header>
    <hr/>
    <div class="row">
        <div class="col">
            <mat-card>
                <mat-card-header class="header">
                    <h4>{{'MED.firstContact'| translate}}</h4>
                </mat-card-header>
                <hr/>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.name'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.name'| translate}}" >
                        </mat-form-field>
                    </div>    
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.relationShip'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.relationShip'| translate}}" >
                        </mat-form-field>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'MED.emergencyCountry'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">Jordan</mat-option>
                              <mat-option value="option2">UAE</mat-option>
                              <mat-option value="option3">Germany</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-">
                        <mat-form-field class="col-sm-"  appearance="outline">
                            <mat-label>{{'MED.countryCode'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">+962</mat-option>
                              <mat-option value="option2">+999</mat-option>
                              <mat-option value="option3">+222</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.mobileNumber'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.mobileNumber'| translate}}" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-">
                        <mat-form-field class="col-sm-" appearance="outline">
                            
                            <mat-label>{{'MED.countryCode'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">+962</mat-option>
                              <mat-option value="option2">+999</mat-option>
                              <mat-option value="option3">+222</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.landingNumber'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.landingNumber'| translate}}" >
                        </mat-form-field>
                    </div>
                </div>
                
            </mat-card>

        </div>
        <div class="col">
            <mat-card>
                <mat-card-header class="header">
                    <h4>{{'MED.secondContact'| translate}}</h4>
                </mat-card-header>
                <hr/>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.name'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.name'| translate}}" >
                        </mat-form-field>
                    </div>    
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.relationShip'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.relationShip'| translate}}" >
                        </mat-form-field>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'MED.emergencyCountry'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">Jordan</mat-option>
                              <mat-option value="option2">UAE</mat-option>
                              <mat-option value="option3">Germany</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-">
                        <mat-form-field class="col-sm-" appearance="outline">
                            <mat-label>{{'MED.countryCode'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">+962</mat-option>
                              <mat-option value="option2">+999</mat-option>
                              <mat-option value="option3">+222</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.mobileNumber'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.mobileNumber'| translate}}" >
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-">
                        <mat-form-field class="col-sm-" appearance="outline">
                            <mat-label>{{'MED.countryCode'| translate}}</mat-label>
                            <mat-select >
                              <mat-option>None</mat-option>
                              <mat-option value="option1">+962</mat-option>
                              <mat-option value="option2">+999</mat-option>
                              <mat-option value="option3">+222</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{'MED.landingNumber'| translate}}</mat-label>
                            <input matInput placeholder="{{'MED.landingNumber'| translate}}" >
                        </mat-form-field>
                    </div>
                </div>
                
            </mat-card>
        </div>
    </div>
    
</mat-card>
<!--Other Info-->
        <mat-card>
           <mat-card-header class="header">
              <h1>{{'MED.other'| translate}}</h1>
           </mat-card-header>
             <hr/>
           <div class="row">
              <div class="col">
                   <mat-card>
                       <mat-card-header>
                             <div class="col"><p>{{'MED.otherInfo'| translate}}</p></div>
                             <div class="col">
                                    <mat-radio-group aria-label="Select an option"  (change)="OtherInfo()">
                                        <div class="row">
                                           <div class="col-sm-2"><mat-radio-button value="1" >{{'MED.yes'| translate}}</mat-radio-button></div>
                                           <div class="col-sm-2"><mat-radio-button value="2" checked>{{'MED.no'| translate}}</mat-radio-button></div>
                                        </div>
                                    </mat-radio-group>
                              </div>
                         </mat-card-header>
                             <div class="container" *ngIf="otherInfo"> 
                               <hr/>                    
                               <div class="row">
                                  <div class="col">
                                      <mat-form-field class="example-full-width">
                                         <textarea matInput placeholder="other information"></textarea>
                                      </mat-form-field>
                                 </div>
                               </div>
                    <div class="row">
                        <div class="col">
                          <button mat-stroked-button color="primary">{{'MED.addOtherInfo'| translate}}</button>
                        </div>
                   </div>
               </div>
            </mat-card>
              </div>
            </div>
</mat-card>
<!--Attachments-->
    <mat-card>
        <mat-card-header class="header">
               <h1> {{'MED.attachments'| translate}}</h1>
        </mat-card-header>
      <hr/>
             <div class="row">
               <div class="col">
                  <label>ID copy</label>
                  <input type="file" />
               </div>
               <div class="col">
                  <label>Passport copy</label>
                  <input type="file" />
                </div>
             </div>
     </mat-card>
